 .unclicablexProperties{
     
     width: 40px;
     height: 40px;
     position:absolute;
     background: #5f5f5f;
     color:white;
     text-decoration: none;
     border-radius: 50px;
     text-align: center;
     font-size: 35px;
     font-weight: bold;
     
     -webkit-box-shadow: 10px 5px 29px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 5px 29px -4px rgba(0,0,0,0.75);
box-shadow: 10px 5px 29px -4px rgba(0,0,0,0.75);
 } 
 .unclicablexPosition{
     
     margin:auto;
     left:0;
     top:0;
   
     
 }     
 
 .hidden{
     
  display: none;   
     
 }
 
 .show {
     width: 400px;
     height: 300px;
     font-size: 35px;
     position: absolute;
     margin: auto;
     top:0;
     left:0;
     right: 0;
     bottom: 0;
     background-color: yellow;
 }
.buttons {
     
     width: 100px;
     height: 80px;
     bottom: 0;
     display: inline-block;
     border-bottom-color: gray;
     text-decoration: none;
     text-align: center;
 }
                
                
                       
  
